<!--表格页面公用头文件-->
{include file='public/table_header'}
<body class="body">
<!-- 工具集 -->
<div class="my-btn-box">
    <span class="fl">
        <a class="layui-btn layui-btn-danger radius btn-delect" id="btn-delete-all">批量删除</a>
        <a class="layui-btn btn-add btn-default" id="authGroup_add">添加</a>
        <a class="layui-btn btn-add btn-default" id="btn-refresh"><i class="layui-icon">&#x1002;</i></a>
    </span>
</div>
<!-- 表格 -->
<table id="dateTable" lay-filter="vessel"></table>
<!--公共脚本文件-->
{include file='public/admin_footer'}
<!--本页脚本文件-->
{load href='__JS__/vip_common.js'}
{load href='__JS__/auth_group.js'}
{include file='script/authgroup_index'}
</body>
</html>