<!--引入后台公共头文件-->
{include file='public/admin_header'}
<!--本页样式-->
{load href='__CSS__/index/style.css'}
<body>
<!-- layout admin -->
<div class="layui-layout layui-layout-admin"> <!-- 添加skin-1类可手动修改主题为纯白，添加skin-2类可手动修改主题为蓝白 -->
    <!-- header -->
    <div class="layui-header my-header">
        <a href="index.html">
            <!--<img class="my-header-logo" src="" alt="logo">-->
            <div class="my-header-logo">阿康 · 博客后台管理</div>
        </a>
        <div class="my-header-btn">
            <button class="layui-btn layui-btn-small btn-nav"><i class="layui-icon">&#xe65f;</i></button>
        </div>
        <!-- 顶部左侧添加选项卡监听 -->
        <ul class="layui-nav" lay-filter="side-top-left">
            <!--<li class="layui-nav-item"><a href="javascript:;" href-url="demo/btn.html"><i class="layui-icon">&#xe621;</i>按钮</a></li>
            <li class="layui-nav-item">
                <a href="javascript:;"><i class="layui-icon">&#xe621;</i>基础</a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" href-url="demo/btn.html"><i class="layui-icon">&#xe621;</i>按钮</a></dd>
                    <dd><a href="javascript:;" href-url="demo/form.html"><i class="layui-icon">&#xe621;</i>表单</a></dd>
                </dl>
            </li>-->
        </ul>
        <!-- 顶部右侧添加选项卡监听 -->
        <ul class="layui-nav my-header-user-nav" lay-filter="side-top-right">
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><i class="layui-icon">&#xe629;</i>主题</a>
                <dl class="layui-nav-child">
                    <dd data-skin="0"><a href="javascript:;">默认</a></dd>
                    <dd data-skin="1"><a href="javascript:;">纯白</a></dd>
                    <dd data-skin="2"><a href="javascript:;">蓝白</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item">
                <a class="name" href="javascript:;"><img src="{$admin.admin_portrait}" alt="logo"> {$admin.admin_name} </a>
                <dl class="layui-nav-child">
                    <dd><a href="{:url('Login/logout')}"><i class="layui-icon">&#x1006;</i>退出</a></dd>
                </dl>
            </li>
        </ul>

    </div>
    <!-- side -->
    <div class="layui-side my-side">
        <div class="layui-side-scroll">
            <!-- 左侧主菜单添加选项卡监听 -->
            <ul class="layui-nav layui-nav-tree" lay-filter="side-main">
                <!-- layui-nav-itemed添加这个类名默认展开-->
                 <li class="layui-nav-item "> 
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>网站设置</a>
                    <dl class="layui-nav-child">
                        <dd>
                            <a href="javascript:;" href-url="{:url('Setting/index')}"><i class="layui-icon">&#xe621;</i>基本设置</a>
                        </dd>
                        <dd>
                            <a href="javascript:;" href-url="{:url('Banner/index')}"><i class="layui-icon">&#xe621;</i>首页banner轮播</a>
                        </dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Notice/index')}"><i class="layui-icon">&#xe621;</i>公告管理</a></dd>
                    </dl>
                     <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Blogroll/index')}"><i class="layui-icon">&#xe621;</i>友链管理</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item "> 
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>会员管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Member/index')}"><i class="layui-icon">&#xe621;</i>用户列表</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item "> 
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>文章管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Article/index')}"><i class="layui-icon">&#xe621;</i>文章列表</a></dd>
                    </dl>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Article/articleType')}"><i class="layui-icon">&#xe621;</i>文章分类</a></dd>
                    </dl>
                </li>
                <li class="layui-nav-item "> 
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>图片管理</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Photo/index')}"><i class="layui-icon">&#xe621;</i>图片列表</a></dd>
                    </dl>
                </li>
                 <li class="layui-nav-item "> 
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>点点滴滴</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('Timeline/index')}"><i class="layui-icon">&#xe621;</i>时光轴</a></dd>
                    </dl>
                </li>
                 <li class="layui-nav-item "> 
                    <a href="javascript:;"><i class="layui-icon">&#xe628;</i>关于本站</a>
                    <dl class="layui-nav-child">
                        <dd><a href="javascript:;" href-url="{:url('AboutAuthor/index')}"><i class="layui-icon">&#xe621;</i>关于作者</a></dd>
                        <dd><a href="javascript:;" href-url="{:url('AboutBlog/index')}"><i class="layui-icon">&#xe621;</i>关于博客</a></dd>
                    </dl>
                </li>
            </ul>
        </div>
    </div>
    <!-- body -->
    <div class="layui-body my-body">
        <div class="layui-tab layui-tab-card my-tab" lay-filter="card" lay-allowClose="true">
            <ul class="layui-tab-title">
                <li class="layui-this" lay-id="1"><span><i class="layui-icon">&#xe638;</i>欢迎页</span></li>
            </ul>
            <div class="layui-tab-content">
                <div class="layui-tab-item layui-show">
                    <iframe id="iframe" src="{:url('Index/main')}" frameborder="0"></iframe>
                </div>
            </div>
        </div>
    </div>
    <!-- footer -->
    <div class="layui-footer my-footer">
        <p></p>
        <p>2017 © copyright www.jkblog.com</p>
    </div>
</div>
<!-- 右键菜单 -->
<div class="my-dblclick-box none">
    <table class="layui-tab dblclick-tab">
        <tr class="card-refresh">
            <td><i class="layui-icon">&#x1002;</i>刷新当前标签</td>
        </tr>
        <tr class="card-close">
            <td><i class="layui-icon">&#x1006;</i>关闭当前标签</td>
        </tr>
        <tr class="card-close-all">
            <td><i class="layui-icon">&#x1006;</i>关闭所有标签</td>
        </tr>
    </table>
</div>
<!--公共脚本文件-->
{include file='public/admin_footer'}
<!--本地脚本文件-->
{load href='__JS__/admin_index.js'}
<script type="text/javascript">
layui.use(['layer','vip_nav'], function () {
    // 操作对象
    var layer       = layui.layer
        ,vipNav     = layui.vip_nav
        ,$          = layui.jquery;
});
//图片管理弹窗
function showImg(photo_id){
    var jsonUrl = "{:url('Photo/getPhotoDetail')}";
    $.getJSON(jsonUrl,{photo_id:photo_id},function(json){
        var res = json;
        layer.photos({
            photos: res,
            anim: 5
        });
    });
}
</script>
</body>
</html>