{include file='public/header'}
<!-- 本页样式表 -->
{load href='__CSS__/mixed.css'}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
        	<blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="index.html" title="网站首页">网站首页</a>
                <a><cite>杂七杂八</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="child-nav shadow">
	                <span class="child-nav-btn child-nav-btn-this">照片墙</span>
	          <!--       <span class="child-nav-btn" onclick="location.href='mixed_vip.html'">VIP视频解析</span>
	                <span class="child-nav-btn" onclick="location.href='mixed_game.html'">游戏墙</span> -->
                </div>
                <!--图片列表-->
                <div class="mixed-main" id="pic"></div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
 {include file='public/footer'}
 <!-- 本页JS -->
 {load href ='__JS__/mixed_pic.js'}
 <!--定义JS脚本所需要的URL路径-->
 <script>
//图片分页数据获取
var getPhotoListUrl = "{:url('Mixed/getPhoto')}";
//图片下载路径
var downloadUrl    = "{:url('Mixed/download')}";
//图片查看的url    
var  jsonUrl       = "{:url('Mixed/photoDetail')}";
</script>