<!--引入后台公共头文件-->
{include file='public/admin_header'}
<body>
  <blockquote class="layui-elem-quote layui-text" id='blockquote'>
  时光轴添加
</blockquote>
<form class="layui-form layui-form-pane" action="">
    <div class="layui-inline">
      <label class="layui-form-label">时间</label>
      <div class="layui-input-inline">
        <input type="text"  name='timeline_time' lay-verify='timeline_time' id='timeline_time' class="layui-input" id="test5" >
      </div>
    </div>

    <div class="layui-form-item is_show" style='margin-top:20px;'>
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block ">
        <input type="radio" name="is_show"  value="1"  lay-skin="primary" title="是"checked />
        <input type="radio" name="is_show" value="0"  lay-skin="primary" title="否"/>
        </div>
    </div>
    <div class="layui-form-item magb0">
      <label class="layui-form-label">时光轴内容</label>
      <div class="layui-input-block">
        <textarea class="layui-textarea layui-hide timeline_content" name="timeline_content" lay-verify="timeline_content" id="timeline_content"></textarea>
      </div>
    </div>
  <div class="layui-form-item">
    <button class="layui-btn" lay-submit style='margin-left: 105px;' lay-filter="addTimeline">提交</button>
  </div>
</form>

<script type="text/javascript" src="__COMMON__/layui/layui.js"></script>
{load href='__JS__/timeline_add.js'}
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/javascript">
 //定义js页面所需要的数据
 var TopLay = top.layer;
 var addTimelineUrl = "{:url('Timeline/addTimeline')}";
 var uploadArticleLayeditUrl = "{:url('Article/uploadArticleLayedit')}";
</script>
</body>
</html>