<script type="text/javascript">
    //定义js所需要端数据
    var  getArticleDataUrl = "{:url('Article/getArticleData')}";
    var  articleAddUrl     = "{:url('Article/articleAdd')}";
    var  articleEditUrl    = "{:url('Article/articleEdit')}";
    var  articleDelUrl     = "{:url('Article/articleDel')}";
    var  updateStickUrl    = "{:url('Article/updateStick')}";
</script>
<!-- 表格操作按钮集 -->
<script type="text/html" id="barOption" >
    <a class="layui-btn layui-btn-mini" lay-event="detail">查看</a>
    <a class="layui-btn layui-btn-mini layui-btn-normal" lay-event="article_edit"   >编辑</a>
    <a class="layui-btn layui-btn-mini layui-btn-danger" lay-event="del" onclick="article_del('{{d.article_id}}')">删除</a>
</script>
<script type="text/html" id="article_surface">
    <img src='{{d.article_surface}}' height='25'>
</script>
<script type="text/html" id="stick">
            <input type="checkbox" 
           {{#  if(d.article_is_stick == "1"){ }}
                 checked="checked" 
           {{#  }}}
             name="article_is_stick"  lay-skin="switch" lay-filter="article_is_stick" article_id='{{d.article_id}}'  lay-text="是|否" >
      <div class="layui-unselect layui-form-switch layui-form-onswitch" lay-skin="_switch"><em>ON</em><i></i></div>
</script>