{include file='public/header'}
<!-- 本页样式表 -->
{load href='__CSS__/login.css'}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <div class="blog-container">
            <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="index.html" title="网站首页">网站首页</a>
                <a><cite>登陆注册</cite></a>
            </blockquote>
            <div class="blog-main">
           		<div class="layui-tab layui-tab-brief shadow">
					<ul class="layui-tab-title">
					    <li {if $page_title eq 'login'}class="layui-this"{/if}   id='login_tab'>登陆</li>
					    <li {if $page_title eq 'register'}class="layui-this"{/if} id='reg_tab'>注册</li>
					    <li id="forgetPwdTit" style="display: none">忘记密码</li>
				    </ul>
					<div class="layui-tab-content">
						<!-- 登陆 -->
						<div class="layui-tab-item {if $page_title eq 'login'}layui-show{/if}">
					    	<form class="layui-form layui-form-pane" method="post">
					    		<div class="layui-form-item">
								    <label class="layui-form-label">账号</label>
							    	<div class="layui-input-inline">
							        	<input type="text" name="user_name"    maxlength='22' lay-verify="user_name" autocomplete="off" placeholder="请输入您的手机号或邮箱" class="layui-input">
							        </div>
							    </div>
							    <div class="layui-form-item">
								    <label class="layui-form-label">密码框</label>
								    <div class="layui-input-inline">
								      <input type="password" name="password"  lay-verify="password" maxlength='18' placeholder="请输入您的密码" autocomplete="off" class="layui-input">
								    </div>
							  </div>
							  	<div class="layui-form-item">
								    <label class="layui-form-label" >验证码</label>
								    <div class="layui-input-inline">
								      <input type="text" name="verify" required lay-verify="verify" maxlength='5' autocomplete="off" placeholder="请回答后面问题" class="layui-input">
								    </div>
								    <div class="captcha_img login_verify">
								    	
								    </div>
							    </div>
						        <div class="layui-form-item">
								    <button class="layui-btn" lay-submit='false' lay-filter="loginForm">立即登陆</button>
								    <span style="padding-left: 20px">
								    	<a href="javascript:" id="forgetPwd">忘记密码?</a>
								    </span>
							    </div>
							</form>
				    	</div>
				    	<!-- 登陆结束 -->
				    	<!-- 注册 -->
		    			<div class="layui-tab-item {if $page_title eq 'register'}layui-show{/if}">
		    				<form class="layui-form layui-form-pane" method="post">
					    		<div class="layui-form-item">
								    <label class="layui-form-label">账号</label>
							    	<div class="layui-input-inline">
							        	<input type="text" name="register_user_name"  maxlength='22' id='register_user_name' lay-verify="register_user_name" autocomplete="off" class="layui-input" placeholder="请输入您的手机号或邮箱">
							        </div>
							        <div class="layui-form-mid layui-word-aux">将会成为您唯一的登陆名</div>
							    </div>
							    <div class="layui-form-item">
								    <label class="layui-form-label">昵称</label>
								    <div class="layui-input-inline">
								      <input type="text" name="register_nick_name"  maxlength='16' id='register_nick_name'  lay-verify="register_nick_name" autocomplete="off" class="layui-input">
								    </div>
							   </div>
							    <div class="layui-form-item">
								    <label class="layui-form-label">密码</label>
								    <div class="layui-input-inline">
								      <input type="password" name="register_password" maxlength='18' id='register_password' lay-verify="register_password" autocomplete="off" class="layui-input">
								    </div>
								    <div class="layui-form-mid layui-word-aux">6到18个字符</div>
							    </div>
							    <div class="layui-form-item">
								    <label class="layui-form-label">确认密码</label>
								    <div class="layui-input-inline">
								      <input type="password" name="register_affirm_password"   
								      id='register_affirm_password'  maxlength='18' lay-verify="register_affirm_password" autocomplete="off" class="layui-input">
								    </div>
							    </div>
							    <div class="layui-form-item">
								    <label class="layui-form-label">验证码</label>
								    <div class="layui-input-inline">
								      <input type="text" name="register_verify" id='register_verify' lay-verify="register_verify" autocomplete="off" maxlength='5' placeholder="请输入 验证码" class="layui-input">
								    </div>
								    <div class="captcha_img register_verify">

								    </div>
							    </div>
						        <div class="layui-form-item">
								    <button class="layui-btn" lay-submit lay-filter="regForm">立即注册</button>
							    </div>
							</form>
		    			</div>
		    			<!-- 注册结束 -->
		    			<!-- 忘记密码 -->
		    			<div class="layui-tab-item">
		    				<form class="layui-form layui-form-pane" method="post">
		    					<div class="layui-form-item">
							    	<label class="layui-form-label">邮箱</label>
						    		<div class="layui-input-inline">
						        		<input type="email" name="email" required  lay-verify="email" autocomplete="off" class="layui-input">
						        	</div>
								</div>
								<div class="layui-form-item">
							    	<label class="layui-form-label" >人类验证</label>
							    	<div class="layui-input-inline">
							      		<input type="text" name="verify" required lay-verify="required" autocomplete="off" placeholder="请回答后面问题" class="layui-input">
							    	</div>
								    <div class="layui-form-mid">
								    	<span style="color:#c00" class="verift-text"></span>
								    </div>
						   		</div>
						   		<div class="layui-form-item">
						   		<button class="layui-btn" lay-submit lay-filter="resetPwd">提交</button>
						  	 	</div>
							</form>
		    			</div>
		    			<!-- 忘记密码结束 -->
					</div>
				</div>      
            </div>
        </div>
    </div>
<!-- 页脚 -->
{include file='public/footer'}
<!-- 本页脚本 -->
{load href='__JS__/login.js'}
<!--定义表单提交页面-->
<script>
	var loginUrl     = "{:url('Login/index')}";
	var getVerifyUrl = "{:url('Login/get_verify')}";
	//注册表单提交url
	var regUrl 		 = "{:url('Login/register')}";
	var page_title   = "{$page_title}"; 
</script>
{if !empty($redirect)}
	<script>
		var redirect = "{$redirect}";
	</script>
{/if}
  
