{include file='public/header'}
<!-- 本页样式表 -->
{load href='__CSS__/detail.css'}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
            <div class="blog-main">
                <blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                	<a href="index.html" title="网站首页">网站首页</a>
                	<a href="article.html" title="文章专栏">文章专栏</a>
                	<a><cite class="title"></cite></a>
           		</blockquote>
                <!--左边文章列表-->
                <div class="blog-main-left animated slideInLeft">
                	<!-- 文章内容（使用Kingeditor富文本编辑器发表的） -->
                    <div class="article-detail shadow">
                        <div class="article-detail-title title">{$article.article_title}</a></div>
                        <div class="article-detail-info">
                        	<span>编辑时间：{$article.article_addtime}</span>
                            <span>作者：{$article.Author}</span>
                            <span>浏览量：{$article.article_page_view}</span>
                    </div>
                    <div class='article-detail-content'>
                        {$article.article_content}
                    </div>
                   <div class="article-detail-sign">
                            <hr class="layui-bg-gray">
                            <p>出自：阿康博客</p>
                            <p>地址：<a href="http://{$_SERVER['SERVER_NAME']}" target="_blank">{$_SERVER['SERVER_NAME']}</a></p>
                            <p style="color: red;">如若转载请注明出处!</p>
                        </div>
                    </div>
               		<!-- 评论区域 -->
                    <div class="blog-module shadow" style="box-shadow: 0 1px 8px #a6a6a6;">
                        <fieldset class="layui-elem-field layui-field-title" style="margin-bottom:0">
                            <legend>来说两句吧</legend>
                            <div class="layui-field-box">
                                <form class="layui-form blog-editor" action="">
                                    <div class="layui-form-item">
                                        <textarea name="editorContent" lay-verify="content" id="remarkEditor" placeholder="请输入内容" class="layui-textarea"></textarea>
                                    </div>
                                    <div class="layui-form-item">
                                        <button class="layui-btn" lay-submit="formLeaveMessage" lay-filter="formLeaveMessage">提交评论</button>
                                    </div>
                                </form>
                            </div>
                        </fieldset>
                      <div class="blog-module-title">最新评论</div>
                        <ul class="blog-comment">
                          {volist name='articleComment' id='comment'}
                            <li>
                                <div class="comment-parent">
                                    <img src="/uploads/{$comment.from_headPortrait}">
                                    <div class="info">
                                      <span class="username">{$comment.from_uname}</span>
                                    </div>
                                    <div class="content">
                                       {$comment.content}
                                   </div>
                                    <p class="info">
                                        <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{$comment.comment_time}</span>
                                        <span class="dh">
                                            <a class="btn-dzan"  {if $comment.is_zan}onclick="dzan('{$comment.comment_id}','comment',this);"{else}
                                            onclick="return layer.msg('您已经点过赞了',{anim:6,icon:5})"{/if}
                                            href="javascript:;" id="dzan_{$comment.comment_id}">
                                            <img src="{if $comment.is_zan}/static/index/img/zan.png{else}/static/index/img/zan_d.png{/if}"><span>{$comment.praise_num}</span></a>
                                            <a class="btn-reply" href="javascript:btnReplyClick('{$comment.comment_id}')" id="a_{$comment.comment_id}"> <img src="/static/index/img/huifu.png">
                                            </img>回复</a>
                                        </span>
                                    </p>
                                </div>
                                <hr>
                                <div class='reply_list'>
                                    {if !empty($comment.reply_list)}
                                        {volist name='comment.reply_list' id='reply_list'}
                                          <div class="comment-child">
                                                <img src="{$reply_list.reply_headPortrait}"  />
                                                <div class="info">
                                                   <span class="username">{$reply_list.reply_uname}</span><span>{$reply_list.reply_content}</span>
                                                </div>
                                                <p class="info">
                                                    <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{$reply_list.reply_time}</span>
                                                    <span class="dh">
                                                         <a class="btn-dzan" {if $reply_list.is_zan}onclick="dzan('{$reply_list.reply_id}','reply',this);"{else} onclick="return layer.msg('您已经点过赞了',{anim:6,icon:5})" {/if}
                                                         href="javascript:;" id="dzan_{$reply_list.reply_id}"><img src="{if $reply_list.is_zan}/static/index/img/zan.png{else}/static/index/img/zan_d.png{/if}"></img><span>{$reply_list.praise_num}</span></a>
                                                    </span>
                                                </p>
                                                <hr/>
                                            </div>
                                        {/volist}
                                    {/if}
                                </div>
                                <div class="replycontainer layui-hide" id="{$comment.comment_id}">
                                    <form class="layui-form" action="">
                                        <input type="hidden" name="reply_comment_id" value="{$comment.comment_id}">
                                        <div class="layui-form-item"><textarea placeholder="请输入要回复的内容" name="reply_content" 
                                            class="layui-textarea" style="min-height:80px;"></textarea>
                                        </div>
                                        <div class="layui-form-item">
                                            <button class="layui-btn layui-btn-mini" lay-submit="formReply" lay-filter="formReply">提交</button>
                                        </div>
                                    </form>
                                </div>
                            </li>
                           {/volist}
                        </ul>
                        {if count($articleComment) eq 0}
                             <div class="layui-flow-more"><a href="javascript:;"><cite>没有评论啦</cite></a></div>
                        {elseif $isLastCommentPage}
                              <div class="layui-flow-more"><a href="javascript:;"><cite>没有评论啦</cite></a></div>
                        {else}
                            <div class="layui-flow-more"><a href="javascript:;"  id='comment_more'><cite>加载更多</cite></a></div>
                        {/if}
                    </div>
                </div>
                <!--右边小栏目-->
                <div class="blog-main-right">
                	<!--右边悬浮 平板或手机设备显示-->
                    <div class="category-toggle"><i class="fa fa-chevron-left"></i></div>
                	<!-- 分类导航 -->
                	<div class="article-category shadow">
                             <div class="article-category-title">分类导航</div>
                        {volist name='articleType' id='articleType'}
                             <a href="{:url('article/index')}?type_id={$articleType.type_id}"  target="_blank"  onclick='articleType(this,"{$articleType.type_id}");'>{$articleType.type_name}</a>
                        {/volist}
                        <div class="clear"></div>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">相似文章</div>
                        <ul class="fa-ul blog-module-ul">
                            {volist name='similarity' id='similarity'}
                            <li><i class="fa-li fa fa-hand-o-right"></i><a target="_blank" href="{:url('Article/articleEdit')}?article_id={$similarity.article_id}">{$similarity.article_title}</a></li>
                            {/volist}
                        </ul>
                    </div>
                    <div class="blog-module shadow">
                        <div class="blog-module-title">随便看看</div>
                        <ul class="fa-ul blog-module-ul">
                            {volist name='articleRecommend' id='articleRecommend'}
                            <li><i class="fa-li fa fa-hand-o-right"></i><a target="_blank" href="{:url('Article/articleEdit')}?article_id={$articleRecommend.article_id}">{$articleRecommend.article_title}</a></li>
                            {/volist}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{include file='public/footer'} 
<!-- 评论留言 -->
<script>
    var img_path ="__IMG__";
    var addCommentUrl = "{:url('Comment/addComment')}";
    var article_id = "{$article.article_id}";
    var replyCommentUrl = "{:url('Comment/replyComment')}";
    var getCommentListUrl = "{:url('Article/getArticleCommentList')}";
    var likeUrl= "{:url('Comment/Like')}";
</script>
{if !empty($userInfo)}
<!--用户信息传递给js脚本-->
<script>
        userInfo ="{$userInfo.user_id}";
</script>
{else}
<script>
    var redirect =encodeURIComponent("{:url('Article/articleedit')}?article_id="+article_id);
        redirect = "{:url('Login/index')}?redirect="+redirect;
</script>
{/if}
{load href='__JS__/message.js'}
<!--layui模板引擎渲染-->
<!--加载更多评论数据-->
<script id='commentData' type='text/html'>
{{#  layui.each(d, function(index, d){ }}
    <li>
        <div class="comment-parent">
            <img src="/uploads/{{d.from_headPortrait}}">
            <div class="info">
              <span class="username">{{d.from_uname}}</span>
            </div>
            <div class="content">
               {{d.content}}
           </div>
            <p class="info">
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{d.comment_time}} </span>
                <span class="dh">
                    <a class="btn-dzan" {{#  if(d.is_zan){ }}onclick="dzan('{{d.comment_id}}','comment',this);"{{# }else{ }}onclick="return layer.msg('您已经点过赞了',{anim:6,icon:5})"{{#  } }} href="javascript:;" id="dzan_{{d.comment_id}}">
                    <img src="{{#  if(d.is_zan){ }}/static/index/img/zan.png{{# }else{ }}/static/index/img/zan_d.png{{#  } }}"><span>{{d.praise_num}}</span></a>
                    <a class="btn-reply" href="javascript:btnReplyClick('{{d.comment_id}}')" id="a_{{d.comment_id}}"> <img src="/static/index/img/huifu.png">
                    </img>回复</a>
                </span>
            </p>
        </div>
        <hr>
       <div class='reply_list'>
           {{#  layui.each(d.reply_list, function(index, reply_list){ }}
                 <div class="comment-child">
                    <img src="{{reply_list.reply_headPortrait}}"  />
                    <div class="info">
                       <span class="username">{{reply_list.reply_uname}}</span><span>{{reply_list.reply_content}}</span>
                    </div>
                    <p class="info">
                        <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{reply_list.reply_time}}</span>
                        <span class="dh">
                             <a class="btn-dzan" href="javascript:;" 
                             {{#  if(reply_list.is_zan){ }}
                              onclick="dzan('{{reply_list.reply_id}}','reply',this);" 
                              {{# }else{ }}
                              onclick="return layer.msg('您已经点过赞了',{anim:6,icon:5})"
                              {{#  } }}
                              id="dzan_{{reply_list.reply_id}}">
                             {{#  if(reply_list.is_zan){ }}
                              <img src="/static/index/img/zan.png">
                              {{# }else{ }}
                              <img src="/static/index/img/zan_d.png">
                              {{#  } }}
                          </img><span>{{reply_list.praise_num}}</span></a>
                        </span>
                    </p>
                    <hr/>
                </div>         
           {{#  }); }}
        </div>
        <div class="replycontainer layui-hide" id="{{d.comment_id}}">
            <form class="layui-form" action="">
                <input type="hidden" name="reply_comment_id" value="{{d.comment_id}}">
                <div class="layui-form-item">
                    <textarea name="reply_content" lay-verify="reply_content"  placeholder="请输入回复内容" class="layui-textarea" style="min-height:80px;">
                    </textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-mini" lay-submit="formReply" lay-filter="formReply">提交</button>
                </div>
            </form>
        </div>
    </li>
{{#  }); }}
</script>
<!--渲染评论数据-->
<script id="commentList" type="text/html">
    <li>
        <div class="comment-parent">
            <img src="{{d.from_headPortrait}}">
            <div class="info">
              <span class="username">{{d.from_uname}}</span>
            </div>
            <div class="content">
               {{d.content}}
           </div>
            <p class="info">
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{d.comment_time}} </span>
                <span class="dh">
                    <a class="btn-dzan" onclick="dzan('{{d.comment_id}}','comment',this);" href="javascript:;" id="dzan_{{d.comment_id}}">
                    <img src="/static/index/img/zan.png"><span>{{d.praise_num}}</span></a>
                    <a class="btn-reply" href="javascript:btnReplyClick('{{d.comment_id}}')" id="a_{{d.comment_id}}"> <img src="/static/index/img/huifu.png">
                    </img>回复</a>
                </span>
            </p>
        </div>
        <hr>
        <div class='reply_list'>

        </div>
        <div class="replycontainer layui-hide" id="{{d.comment_id}}">
            <form class="layui-form" action="">
                <input type="hidden" name="reply_comment_id" value="{{d.comment_id}}">
                <div class="layui-form-item">
                    <textarea name="reply_content" lay-verify="reply_content"  placeholder="请输入回复内容" class="layui-textarea" style="min-height:80px;">
                    </textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-mini" lay-submit="formReply" lay-filter="formReply">提交</button>
                </div>
            </form>
        </div>
    </li>
</script>
<!--渲染评论回复列表-->
<script id='replyCommentList' type='text/html'>
   <div class="comment-child">
        <img src="{{d.reply_headPortrait}}"  />
        <div class="info">
           <span class="username">{{d.reply_uname}}</span><span>{{d.reply_content}}</span>
        </div>
        <p class="info">
            <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{d.reply_time}}</span>
            <span class="dh">
                 <a class="btn-dzan" href="javascript:;"  onclick="dzan('{{d.reply_id}}','reply',this);" id="dzan_{{d.reply_id}}"><img src="/static/index/img/zan.png"></img><span>{{d.praise_num}}</span></a>
            </span>
        </p>
        <hr/>
    </div>
</script>
