{include file='public/header'}
<!-- 本页样式表 -->
{load href='__CSS__/about.css'}
    <!-- 主体（一般只改变这里的内容） -->
    <div class="blog-body">
        <!-- 这个一般才是真正的主体内容 -->
        <div class="blog-container">
        	<blockquote class="layui-elem-quote sitemap layui-breadcrumb shadow">
                <a href="index.html" title="网站首页">网站首页</a>
                <a><cite>关于本站</cite></a>
            </blockquote>
            <div class="blog-main">
                <div class="layui-tab layui-tab-brief shadow" lay-filter="tabAbout">
                    <ul class="layui-tab-title">
                        <li lay-id="1" class="layui-this">关于博客</li>
                        <li lay-id="2">关于作者</li>
                        <li lay-id="3" id="frinedlink">友情链接</li>
                        <li lay-id="4">留言墙</li>
                    </ul>
                    <div class="layui-tab-content">
                    	<div class="layui-tab-item layui-show">
                            <div class="aboutinfo">
                                <div class="aboutinfo-figure">
                                    <img src="{$blog.blog_logo}" alt="{$blog.blog_name}" width="120px" height="120px"/>
                                </div>
                                <p class="aboutinfo-introduce">{$blog.blog_intro}</p>
                                <p class="aboutinfo-location"><i class="fa fa-link"></i>&nbsp;&nbsp;<a target="_blank" href="{$domain}">{$domain_name}</a></p>
                                <hr />
                                <div class="aboutinfo-contact">
                                    <a title="网站首页" target='_blank' href="{:url('Index/index')}"><i class="fa fa-home fa-2x" style="font-size:2.5em;position:relative;top:3px"></i></a>
                                    <a title="文章专栏"  target='_blank' href="{:url('Article/index')}" ><i class="fa fa-file-text fa-2x"></i></a>
                                    <a title="杂七杂八" target='_blank' href="{:url('Mixed/index')}" ><i class="fa fa-paper-plane-o fa-2x"></i></a>
                                    <a title="点点滴滴" target='_blank' href="{:url('Timeline/index')}"><i class="fa fa-hourglass-half fa-2x"></i></a>
                                </div>

                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>简介</legend>
                                    <div class="layui-field-box aboutinfo-abstract">
                                        <p style="text-align:center;">{$blog.blog_introduce}</p>
                                        <h1 style="text-align:center;">The End</h1>
                                    </div>
                                </fieldset>
                            </div>
                        </div><!--关于网站End-->
                        <div class="layui-tab-item">
                            <div class="aboutinfo">
                                <div class="aboutinfo-figure">
                                    <img src="__IMG__/user/0.jpg" alt="Absolutely" width="100px" height="100px"/>
                                </div>
                                <p class="aboutinfo-nickname">{$Author.blogger_name}</p>
                                <p class="aboutinfo-introduce">{$Author.blogger_intro}</p>
                                <p class="aboutinfo-location"><i class="fa fa-location-arrow"></i>&nbsp;{$Author.blogger_address}</p>
                                <hr />
                                <div class="aboutinfo-contact">
                                    <a target="_blank" title="QQ交流" href="http://shang.qq.com/email/stop/email_stop.html?qq={$Author.blogger_qq}"><i class="fa fa-qq fa-2x"></i></a>
                                    <a target="_blank" title="给我写信" href="mailto:{$Author.blogger_email}"><i class="fa fa-envelope fa-2x"></i></a>
                                <!--     <a target="_blank" title="新浪微博" href="http://weibo.com/zuoqiyin"><i class="fa fa-weibo fa-2x"></i></a> -->
                                    <a target="_blank" title="GitHub" href="{$Author.blogger_github}"><i class="fa fa-git fa-2x"></i></a>
                                </div>
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>简介</legend>
                                    <div class="layui-field-box aboutinfo-abstract abstract-bloger">
                                        <p style="text-align:center;">{$Author.blogger_introduce}</p>
                                        <h1 style="text-align:center;">The End</h1>
                                    </div>
                                </fieldset>
                            </div>
                        </div><!--关于作者End-->
                    	<div class="layui-tab-item">
                            <div class="aboutinfo">
                                <div class="aboutinfo-figure">
                                    <img src="__IMG__/handshake.png" alt="友情链接" />
                                </div>
                                <p class="aboutinfo-nickname">友情链接</p>
                                <p class="aboutinfo-introduce">Name：{$blog.blog_name}&nbsp;&nbsp;&nbsp;&nbsp;Site：{$domain_name}</p>
                                <p class="aboutinfo-location">
                                    <i class="fa fa-close"></i>经常宕机&nbsp;
                                    <i class="fa fa-close"></i>不合法规&nbsp;
                                    <i class="fa fa-close"></i>插边球站&nbsp;
                                    <i class="fa fa-close"></i>红标报毒&nbsp;
                                    <i class="fa fa-check"></i>原创优先&nbsp;
                                    <i class="fa fa-check"></i>技术优先
                                </p>
                                <hr />
                                <div class="aboutinfo-contact">
                                    <p style="font-size:2em;">互换友链，携手并进！</p>
                                </div>
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>Friend Link</legend>
                                    <div class="layui-field-box">
                                        <ul class="friendlink">
                                            {volist name='blogroll' id='blogroll'}
                                            <li>
                                                <a target="_blank" href="{$blogroll.blogroll_url}" title="Layui" class="friendlink-item">
                                                    <p class="friendlink-item-pic"><img src="{$blogroll.blogroll_logo}" alt="{$blogroll.blogroll_name}" /></p>
                                                    <p class="friendlink-item-title">{$blogroll.blogroll_name}</p>
                                                    <p class="friendlink-item-domain">{$blogroll.blogroll_url}</p>
                                                </a>
                                            </li>
                                            {/volist}
                                        </ul>
                                    </div>
                                </fieldset>
                            </div>
                        </div><!--友情链接End-->
                    	<div class="layui-tab-item">
                            <div class="aboutinfo">
                                <div class="aboutinfo-figure">
                                    <img src="__IMG__/messagewall.png" alt="留言墙" />
                                </div>
                                <p class="aboutinfo-nickname">留言墙</p>
                                <p class="aboutinfo-introduce">本页面可留言、吐槽、提问。欢迎灌水，杜绝广告！</p>
                                <p class="aboutinfo-location">
                                    <i class="fa fa-clock-o"></i>&nbsp;<span id="time"></span>
                                </p>
                                <hr />
                                <div class="aboutinfo-contact">
                                    <p style="font-size:2em;">沟通交流，拉近你我！</p>
                                </div>
                                <fieldset class="layui-elem-field layui-field-title">
                                    <legend>Leave a message</legend>
                                    <div class="layui-field-box">
                                        <div class="leavemessage" style="text-align:initial">
                                            <form class="layui-form">
                                                <div class="layui-form-item">
                                                    <textarea name="editorContent" lay-verify="message" id="message" placeholder="请输入内容" class="layui-textarea"></textarea>
                                                </div>
                                                <div class="layui-form-item">
                                                    <button class="layui-btn" lay-submit="mseesage_sub" id='mseesage_sub' lay-filter="mseesage_sub">提交留言</button>
                                                </div>
                                            </form>
                                            <ul class="blog-comment">
                                                {volist name='messageList' id='message'}
                                                   <li>
                                                        <div class="comment-parent">
                                                            <img src="{$message.head_portrait}">
                                                            <div class="info">
                                                              <span class="username">{$message.message_uname}</span>
                                                            </div>
                                                            <div class="content">
                                                               {$message.message_content}
                                                           </div>
                                                            <p class="info">
                                                                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{$message.message_time}</span>
                                                                <span class="dh">
                                                                    <a class="btn-reply" href="javascript:btnReplyClick('{$message.message_id}')" id="a_{$message.message_id}"> <img src="/static/index/img/huifu.png">
                                                                    </img>回复</a>
                                                                </span>
                                                            </p>
                                                        </div>
                                                        <hr>
                                                        <div class='reply_list'>
                                                            <!--回复列表-->
                                                            {if !empty($message.reply_list)}
                                                               {volist name='$message.reply_list' id='reply_list'}
                                                                    <div class="comment-child">
                                                                    <img src="{$reply_list.head_portrait}"  />
                                                                    <div class="info">
                                                                       <span class="username">{$reply_list.reply_uname}</span><span>{$reply_list.reply_content}</span>
                                                                    </div>
                                                                    <p class="info">
                                                                        <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{$reply_list.reply_time}</span>
                                                                    </p>
                                                                    <hr/>
                                                                </div>

                                                               {/volist}
                                                            {/if}
                                                        </div>
                                                        <div class="replycontainer layui-hide" id="{$message.message_id}">
                                                            <form class="layui-form" action="">
                                                                <input type="hidden" name="reply_message_id" value="{$message.message_id}">
                                                                <div class="layui-form-item"><textarea placeholder="请输入要回复的内容" name="reply_content" 
                                                                    class="layui-textarea" style="min-height:80px;"></textarea>
                                                                </div>
                                                                <div class="layui-form-item">
                                                                    <button class="layui-btn layui-btn-mini" lay-submit="formReply" lay-filter="formReply">提交</button>
                                                                </div>
                                                            </form>
                                                        </div>
                                                    </li>
                                                {/volist}
                                            </ul>
                                                {if count($messageList) eq 0}
                                                     <div class="layui-flow-more"><a href="javascript:;"><cite>没有留言啦</cite></a></div>
                                                {elseif $lastPge}
                                                      <div class="layui-flow-more"><a href="javascript:;"><cite>没有留言啦</cite></a></div>
                                                {else}
                                                    <div class="layui-flow-more"><a href="javascript:;"  id='comment_more'><cite>加载更多</cite></a></div>
                                                {/if}
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div><!--留言墙End-->
                    </div>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
<!-- 底部 -->
{include file='public/footer'}
<!-- 本页脚本 -->
{load href='__JS__/about.js'}
<!--js脚本所需要的数据-->
<script>
    var messageAddUrl    = "{:url('About/messageAdd')}";
    var replyMessageUrl  = "{:url('About/replyMessage')}";
    var getMessageUrl    = "{:url('About/getMessage')}";
</script>
{if !empty($userInfo)}
<script>
    var userInfo = "{$userInfo.user_id}";
</script>
{/if}
<!--layui模板引擎渲染-->
<!--渲染留言列表-->
<script id="messageList" type="text/html">
    <li>
        <div class="comment-parent">
            <img src="{{d.head_portrait}}">
            <div class="info">
              <span class="username">{{d.message_uname}}</span>
            </div>
            <div class="content">
               {{d.message_content}}
           </div>
            <p class="info">
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{d.message_time}} </span>
                <span class="dh">
                    <a class="btn-reply" href="javascript:btnReplyClick('{{d.message_id}}')" id="a_{{d.message_id}}"> <img src="/static/index/img/huifu.png">
                    </img>回复</a>
                </span>
            </p>
        </div>
        <hr>
        <div class='reply_list'>

        </div>
        <div class="replycontainer layui-hide" id="{{d.message_id}}">
            <form class="layui-form" action="">
                <input type="hidden" name="reply_message_id" value="{{d.message_id}}">
                <div class="layui-form-item">
                <textarea name="reply_content" lay-verify="reply_content"  placeholder="请输入回复内容" class="layui-textarea" style="min-height:80px;"></textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-mini" lay-submit="formReply" lay-filter="formReply">提交</button>
                </div>
            </form>
        </div>
    </li>
</script>
<!--渲染留言列表-->
<script id='replyMessageList' type='text/html'>
   <div class="comment-child">
        <img src="{{d.head_portrait}}"  />
        <div class="info">
           <span class="username">{{d.reply_uname}}</span><span>{{d.reply_content}}</span>
        </div>
        <p class="info">
            <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{d.reply_time}}</span>
        </p>
        <hr/>
    </div>
</script>
<!---留言分页-->
<script id='messageData' type='text/html'>
 {{#  layui.each(d, function(index, d){ }}
    <li>
        <div class="comment-parent">
            <img src="{{d.head_portrait}}">
            <div class="info">
              <span class="username">{{d.message_uname}}</span>
            </div>
            <div class="content">
               {{d.message_content}}
           </div>
            <p class="info">
                <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{d.message_time}} </span>
                <span class="dh">
                    <a class="btn-reply" href="javascript:btnReplyClick('{{d.message_id}}')" id="a_{{d.message_id}}"> <img src="/static/index/img/huifu.png">
                    </img>回复</a>
                </span>
            </p>
        </div>
        <hr>
        <div class='reply_list'>
           {{#  layui.each(d.reply_list, function(index, reply_list){ }}
                 <div class="comment-child">
                    <img src="{{reply_list.head_portrait}}"  />
                    <div class="info">
                       <span class="username">{{reply_list.reply_uname}}</span><span>{{reply_list.reply_content}}</span>
                    </div>
                    <p class="info">
                        <span class="time"><i class="fa fa-clock-o"></i>&nbsp;{{reply_list.reply_time}}</span>
                    </p>
                    <hr/>
                </div>         
           {{#  }); }}
        </div>
        <div class="replycontainer layui-hide" id="{{d.message_id}}">
            <form class="layui-form" action="">
                <input type="hidden" name="message_id" value="{{d.message_id}}">
                <div class="layui-form-item">
                    <textarea name="reply_content" lay-verify="reply_content"  placeholder="请输入回复内容" class="layui-textarea" style="min-height:80px;">
                    </textarea>
                </div>
                <div class="layui-form-item">
                    <button class="layui-btn layui-btn-mini" lay-submit="formReply" lay-filter="formReply">提交</button>
                </div>
            </form>
        </div>
    </li>
 {{#  }); }}
</script>