<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>layui</title>
  <meta name="renderer" content="webkit">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
{load href='__COMMON__/layui/css/layui.css'} 
{load href='__CSS__/banner.css'} 
 <!-- 注意：如果你直接复制所有代码到本地，上述css路径需要改成你本地的 -->

</head>
<body>
          
<blockquote class="layui-elem-quote">前台首页banner轮播管理</blockquote>   
<form method='' action='' >    
<div  id='banner_img'>
  <div class="layui-upload-drag" id="banner" >
    <i class="layui-icon"></i>
    <p>点击上传，或将文件拖拽到此处</p>
  </div>
  {if !empty($banner)}
  {volist name='banner' id='banner'}
     <div class="layui-upload-drag">
      <i class="layui-icon" id='banner_close' onclick='del_banner(this)'>&#x1007;</i>   
     <img  src ="{$banner}"><input type="hidden" name="banner_img" value="{$banner}">
    </div>
  {/volist}
  {/if}
</div>  
</form>  

<div id='sub'>
    <!-- layui 2.2.5 新增 -->
    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="sub">提交</button>
  </div> 
{load href='__COMMON__/layui/layui.js'}
{load href='__JS__/jquery-1.11.1.min.js'}
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script>
layui.use(['upload','form','jquery'], function(){
  var $ = layui.jquery
  ,form = layui.form
  ,upload = layui.upload;
  //拖拽上传
  upload.render({
    elem: '#banner'
    ,url: '{:url("Banner/uploadBanner")}'
    ,done: function(res){
      $('#banner_img').append('<div class="layui-upload-drag"><i class="layui-icon" id="banner_close" onclick="del_banner(this)">&#x1007;</i><img  src ="'+res.file_url+'"><input type="hidden" name="banner_img" value="'+res.file_url+'"> </div>');
    }
  });
  //监听提交
  form.on('submit(sub)',function(data){
    var banner_img = new Array();
    $("[name='banner_img']").each(function(){
        banner_img.push($(this).val());
    });
    if(banner_img.length == 0) {
      return layer.msg('请上传banner图片',{icon:2});
    }
    $.post('{:url("Banner/index")}',{banner_img:banner_img},function(res){
        if(res.code == 200) {
            layer.msg(res.msg,{icon:1,time:2000},function(){
               location.reload();
            });
        }else{
            layer.msg(rem.msg,{icon:2});
        }
    },'json');
  });
});
function del_banner(th)
{
  layui.use(['layer'], function(){
   var index = layer.confirm('确定要删除这个banner么',{
      title:'banner删除',
      btn: ['确定','取消']},
      function(){
        layer.close(index);
         $(th).parent().remove();
      });
  });
}

</script>

</body>
</html>