<!--引入后台公共头文件-->
{include file='public/admin_header'}
<!--本页样式-->
{load href='__CSS__/banner.css'} 
<body>
<blockquote class="layui-elem-quote">前台首页banner轮播管理</blockquote>   
<form method='' action='' >    
  <div class="layui-upload-drag" id="banner" >
    <i class="layui-icon"></i>
    <p>点击上传，或将文件拖拽到此处</p>
  </div>
<div  id='banner_img'>
  {if !empty($banner)}
  {volist name='banner' id='banner'}
     <div class="layui-upload-drag">
      <i class="layui-icon" id='banner_close' onclick='del_banner(this)'>&#x1007;</i>   
     <img  src ="{$banner}"><input type="hidden" name="banner_img" value="{$banner}">
    </div>
  {/volist}
  {/if}
</div>  
</form>  
<div id='sub'>
    <button class="layui-btn layui-btn-fluid" lay-submit="" lay-filter="sub">提交</button>
</div> 
<!--公共脚本文件-->
{include file='public/admin_footer'}
<!--本页脚本文件-->
{load href='__JS__/banner.js'}
<script>
  //定义JS所需要的参数
  var uploadBannerUrl ='{:url("Upload/uploadFile")}';
  var bannerIndexUrl  ='{:url("Banner/index")}';
</script>
</body>
</html>