<!--引入后台公共头文件-->
{include file='public/admin_header'}
<body>
  <blockquote class="layui-elem-quote layui-text" id='blockquote'>
  网站公告的编辑
</blockquote>
<form class="layui-form layui-form-pane" action="">
   <div class="layui-form-item">
    <label class="layui-form-label">公告标题</label>
    <div class="layui-input-block">
      <input type="text" name="notice_title" autocomplete="off" lay-verify="notice_title" placeholder="请输入公告标题" value='{$notice.notice_title}'  id='notice_title' class="layui-input">
    </div>
  </div> 
  <div class="layui-form-item">
    <label class="layui-form-label">公告外链</label>
    <div class="layui-input-inline">
      <input type="text" name="notice_url"  value='{$notice.notice_url}' id='notice_url' placeholder="如果有请添加" autocomplete="off" class="layui-input">
    </div>
  </div>
    <div class="layui-form-item is_show">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block ">
        <input type="radio" name="is_show"  value="1"  lay-skin="primary" title="是" 
        {if $notice.is_show eq 1}checked{/if}
        />
        <input type="radio" name="is_show" value="0"  lay-skin="primary" title="否"
        {if $notice.is_show eq 0}checked{/if}
        />
        </div>
    </div>
   <div class="layui-form-item is_show">
        <label class="layui-form-label">是否置顶</label>
        <div class="layui-input-block ">
        <input type="radio" name="notice_is_stick"  value="1"  lay-skin="primary" title="是"  
        {if $notice.notice_is_stick eq 1}checked{/if}
        />
        <input type="radio" name="notice_is_stick" value="0"  lay-skin="primary" title="否" 
        {if $notice.notice_is_stick eq 0}checked{/if}
        />
        </div>
    </div>
    <div class="layui-form-item magb0">
      <label class="layui-form-label">公告内容</label>
      <div class="layui-input-block">
        <textarea class="layui-textarea layui-hide notice_content" name="notice_content" lay-verify="notice_content" id="notice_content">{$notice.notice_content}</textarea>
      </div>
    </div>
  <div class="layui-form-item">
    <button class="layui-btn" lay-submit style='margin-left: 105px;' lay-filter="noticeAdd">提交</button>
  </div>
</form>
<!--公共脚本文件-->
{include file='public/admin_footer'}
<!--本页脚本文件-->
{load href='__JS__/notice_edit.js'}
<!-- 注意：如果你直接复制所有代码到本地，上述js路径需要改成你本地的 -->
<script type="text/javascript">
  //定义js所需要的参数  
    var  noticeEditUrl           = "{:url('Notice/noticeEdit')}";
    var  uploadArticleLayeditUrl = "{:url('Upload/uploadLayedit')}";
    var  notice_id               = "{$notice.notice_id}";
    var  TopLay                  = top.layer;
</script>
</body>
</html>