<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>文章列表--layui后台管理模板 2.0</title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="__COMMON__/layui/css/layui.css" media="all" />
</head>
<body>
<fieldset class="layui-elem-field layui-field-title" style="margin-top: 30px;">
  <legend>图片的添加</legend>
</fieldset>
<div class="layui-upload">
  <button type="button" class="layui-btn" id="test2">多图片上传</button> 
  <blockquote class="layui-elem-quote layui-quote-nm" style="margin-top: 10px;">
    预览图：
    <div class="layui-upload-list" id="demo2" ></div>
 </blockquote>
</div>
<div style="width: 216px; margin: 0;">
  <!-- layui 2.2.5 新增 -->
  <button class="layui-btn layui-btn-fluid"  style='margin-top:50px;' id='photo_add' >添加图片</button>
</div>
<script type="text/javascript" src="__COMMON__/layui/layui.js"></script>
<script>
layui.use(['upload','form'], function(){
  var $ = layui.jquery
  ,form = layui.form
  ,upload = layui.upload;

  //多图片上传
  upload.render({
    elem: '#test2'
    ,url: '{:url("Photo/uploadPhoto")}'
    ,multiple: true
    ,done: function(res){
      //上传完毕
        $('#demo2').append('<div style="display:inline-block;margin-right:20px;"><img  style="max-width:300px;height:150px;" src="'+ res.file_url +'" alt="" class="layui-upload-img"><input type="hidden" name="photo_thumb" value="'+res.file_url+'"><div class="layui-form-item" style="margin-top:10px;"><div class="layui-input-inline"><input type="text" name="photo_name"  id="photo_name" placeholder="请填写图片名称" autocomplete="off" class="layui-input"> </div></div></div>');
    }
  });
  $('#photo_add').click(function(){
      var index = top.layer.msg('数据提交中，请稍候',{icon: 16,time:false,shade:0.8});
      var pic_thumb   = $("input[name='photo_thumb']");
      var photo_thumb = new Array();
      var pic_name    = $("input[name='photo_name']");
      var photo_name= new Array();
      for(var i = 0; i < pic_thumb.length; i++) {
          photo_thumb.push($(pic_thumb[i]).val());
      }
      for(var i = 0; i < pic_name.length; i++) {
            if($(pic_name[i]).val() == ''){
                top.layer.close(index);
                return layer.msg('请填写图片名称',{icon:2});
            }else{
                 photo_name.push($(pic_name[i]).val());
            }
      }
      if(photo_thumb.length == 0)  return layer.msg('请上传图片',{icon:2});
      $.post('{:url("Photo/add")}',{
            photo_name  : photo_name,
            photo_thumb : photo_thumb,
      },function(res){
            if(res.code == 200 ) {
                    top.layer.msg(res.msg,{icon:1,time:2000},function(){
                    top.layer.close(index);
                    layer.closeAll("iframe");
                    parent.location.reload();
                });
              }else{
                top.layer.close(index);
                top.layer.msg(res.msg,{icon:2});
              }
      },'json');
  });
});
</script>
</body>
</html>
