<!--引入后台公共头文件-->
{include file='public/admin_header'}
<!--本页样式表-->
{load href='__CSS__/photo/public.css'}
<body class="childrenBody">
<form class="layui-form">
	<blockquote class="layui-elem-quote news_search">
		<div class="layui-inline">
			<input type="checkbox" name="selectAll" id="selectAll" lay-filter="selectAll" lay-skin="primary" title="全选">
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-sm layui-btn-danger batchDel">批量删除</a>
		</div>
		<div class="layui-inline">
			<a class="layui-btn layui-btn-sm" onclick='addPhoto("{:url(\"Photo/add\")}")'>添加图片</a>
		</div>
	</blockquote>
	<ul class="layer-photos-demo" id="Images"></ul>
</form>
<script type="text/javascript">
		//定义图片数据获取路径
		var getPhotoDataUrl = "{:url('Photo/index')}";
		//图片删除路径
		var photoDel 		= "{:url('Photo/delete')}";
</script>
<!--公共脚本文件-->
{include file='public/admin_footer'}
<!--本页脚本文件-->
{load href='__JS__/images.js'}
</body>
</html>