    <!-- 底部 -->
    <footer class="blog-footer">
        <p><span>Copyright</span><span>&copy; 2018</span><span>{$website_setting.copyright}</span></p>
        <p><a href="http://www.miibeian.gov.cn" target="_blank">{$website_setting.icp_certificate}</a></p>
    </footer>
      <!--侧边导航-->
    <ul class="layui-nav layui-nav-tree layui-nav-side blog-nav-left layui-hide" lay-filter="nav">
                <li class="layui-nav-item {if request()->controller() eq 'Index'}layui-this{/if}">
                    <a href="{:url('Index/index')}"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'Article'}layui-this{/if}">
                    <a href="{:url('Article/index')}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'Mixed'}layui-this{/if}">
                    <a href="{:url('Mixed/index')}"><i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;杂七杂八</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'Timeline'}layui-this{/if}">
                    <a href="{:url('Timeline/index')}"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'About'}layui-this{/if}">
                    <a href="{:url('About/index')}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                </li>
    </ul>
    <!--分享窗体-->
    <div class="blog-share layui-hide">
        <div class="blog-share-body">
            <div style="width: 200px;height:100%;">
                <div class="bdsharebuttonbox">
                    <a class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                    <a class="bds_tsina" data-cmd="tsina" title="分享到新浪微博"></a>
                    <a class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                    <a class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                </div>
            </div>
        </div>
    </div>
    <!-- 音乐播放器 -->
    <div id="QPlayer">
	<ol id="playlist"></ol>
	<div id="pContent">
		<div id="player">
			<span class="cover"></span>
			<div class="ctrl">
				<div class="musicTag marquee">
					<strong>Title</strong>
					 <span> - </span>
					<span class="artist">Artist</span>
				</div>
				<div class="progress">
					<div class="timer left">0:00</div>
					<div class="contr">
						<div class="rewind icon"></div>
						<div class="playback icon"></div>
						<div class="fastforward icon"></div>
					</div>
					<div class="right">
						<div class="liebiao icon"></div>
					</div>
				</div>
			</div>
		</div>
		<div class="ssBtn">
		        <div class="adf"></div>
	    </div>
	</div>
	</div>
    
    <!--遮罩-->
    <div class="blog-mask animated layui-hide"></div>
    <!-- layui.js -->
    <script src="__COMMON__/layui/layui.js"></script>
    <!-- 全局脚本 -->
    <script src="__JS__/global.js"></script>
    <script src="__JS__/canvas-particle.js"></script>
  
    <!-- 音乐播放器 -->
    <script src="__JS__/jquery.min.js"></script>
	 <!--<script src="__JS__/jquery.marquee.min.js"></script> -->
	<!-- <script src="__JS__/player.js"></script> -->
	<!-- 天气预报 -->
	<script>(function(T,h,i,n,k,P,a,g,e){g=function(){P=h.createElement(i);a=h.getElementsByTagName(i)[0];P.src=k;P.charset="utf-8";P.async=1;a.parentNode.insertBefore(P,a)};T["ThinkPageWeatherWidgetObject"]=n;T[n]||(T[n]=function(){(T[n].q=T[n].q||[]).push(arguments)});T[n].l=+new Date();if(T.attachEvent){T.attachEvent("onload",g)}else{T.addEventListener("load",g,false)}}(window,document,"script","tpwidget","//widget.seniverse.com/widget/chameleon.js"))</script>
	<script>tpwidget("init", {"flavor": "bubble","location": "WX4FBXXFKE4F","geolocation": "enabled","position": "top-right","margin": "66px 2px","language": "zh-chs","unit": "c","theme": "chameleon","uid": "UBBCD38472","hash": "d0c821f458c9fafa09ddacb76acc965c"});tpwidget("show");</script>
</body>
</html>