<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>阿康-一个PHP程序员的个人博客网站</title>
    <link rel="shortcut icon" href="__IMG__/logo.png" type="image/x-icon">
    <!--Layui-->
    <link href="__COMMON__/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="__INDEX__/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="__CSS__/global.css" rel="stylesheet" />
    <link href="__CSS__/animate.min.css" rel="stylesheet" />
</head>