<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; Charset=utf-8">
    <meta http-equiv="Content-Language" content="zh-CN">
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <title>阿康-一个PHP程序员的个人博客网站</title>
    <link rel="icon" href="/jkblog.ico">
    <!--Layui-->
    <link href="__COMMON__/layui/css/layui.css" rel="stylesheet" />
    <!--font-awesome-->
    <link href="__INDEX__/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!--全局样式表-->
    <link href="__CSS__/global.css" rel="stylesheet" />
    <link href="__CSS__/animate.min.css" rel="stylesheet" />
</head>
<body>
   <!-- 导航 -->
    <nav class="blog-nav layui-header">
        <div class="blog-container">
            <!-- 用户登陆 -->
            <div class="blog-user">
                <a href="{:url('Login/index')}"><i class="fa fa-user-circle-o"></i></a>
                {if empty($userInfo)}
                    <a href="{:url('Login/index')}">登陆</a>
                    <a href="{:url('Login/register')}">注册</a>
                {else}
                     <a href="{:url('Member/center')}">个人中心</a>
                     <a href="{:url('Base/logout')}">退出</a>
                {/if}
            </div>
            <!-- zuoqy -->
            <a class="blog-logo" href="{:url('Index/index')}"><img src="__IMG__/logo.png" width="64px" height="64px"></a>
            <!-- 导航菜单 -->
            <ul class="layui-nav" lay-filter="nav">
                <li class="layui-nav-item {if request()->controller() eq 'Index'}layui-this{/if}">
                    <a href="{:url('Index/index')}"><i class="fa fa-home fa-fw"></i>&nbsp;网站首页</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'Article'}layui-this{/if}">
                    <a href="{:url('Article/index')}"><i class="fa fa-file-text fa-fw"></i>&nbsp;文章专栏</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'Mixed'}layui-this{/if}">
                    <a href="{:url('Mixed/index')}"><i class="fa fa-paper-plane-o fa-fw"></i>&nbsp;杂七杂八</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'Timeline'}layui-this{/if}">
                    <a href="{:url('Timeline/index')}"><i class="fa fa-hourglass-half fa-fw"></i>&nbsp;点点滴滴</a>
                </li>
                <li class="layui-nav-item {if request()->controller() eq 'About'}layui-this{/if}">
                    <a href="{:url('About/index')}"><i class="fa fa-info fa-fw"></i>&nbsp;关于本站</a>
                </li>
            </ul>
            <!-- 手机和平板的导航开关 -->
            <a class="blog-navicon" href="javascript:;">
                <i class="fa fa-navicon"></i>
            </a>
        </div>
    </nav>