<!--引入后台公共头文件-->
{include file='public/admin_header'}
<body class="body">
<blockquote class="layui-elem-quote layui-text" id='blockquote'>
  文章分类的添加
</blockquote>
<form class="layui-form" action="">
    <div class="layui-form-item">
        <label class="layui-form-label">分类名称</label>
        <div class="layui-input-block">
            <input type="text" id='type_name' name="type_name" maxlength="30" lay-verify="type_name" autocomplete="off" placeholder="请输入分类名称"   class="layui-input">
        </div>
    </div>
    <div class="layui-form-item">
        <div class="layui-inline">
            <label class="layui-form-label">排序</label>
            <div class="layui-input-inline">
                <input type="tel" name="order" id='order' value='255' lay-verify="order" autocomplete="off" class="layui-input">
            </div>
        </div>
    </div>
    <div class="layui-form-item is_show">
        <label class="layui-form-label">是否显示</label>
        <div class="layui-input-block ">
        <input type="radio" name="is_show"  value="1"  lay-skin="primary" title="是" checked />
        <input type="radio" name="is_show" value="0"  lay-skin="primary" title="否"/>
        </div>
    </div>

    <div class="layui-form-item">
        <div class="layui-input-block">
            <button class="layui-btn" lay-submit="" lay-filter="type_btn">立即提交</button>
            <button type="reset" class="layui-btn layui-btn-primary">重置</button>
        </div>
    </div>
</form>
<!-- 通用-970*90 -->
<script src="__COMMON__/layui/layui.js" charset="utf-8"></script>
<script type="text/javascript" src="__JS__/jquery-1.11.1.min.js"></script>
<script type="text/javascript" src="__JS__/articleType_add.js"></script>

<script>
   //定义js文件所需要端数据
   var  articleTypeAddUrl= "{:url('articleTypeAdd')}";
</script>
</body>
</html>